# Python Basics Assignment_1

1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
  *,'hello',-87.8,- ,/,+,6 

Ans. Operators (experssions) - * , - , / , +
     Values (int or str) – ‘hello’ , -87.8 , 6

2. What is the difference between string and variable?

Ans. A variable is used to store information (i.e. string, integers), string is information enclosed in “ “ or ‘ ‘.

3. Describe three different data types.

Ans. Three fundamental Data types in python are int, float, complex.
1.	int data type: We can use int data type to represent whole numbers. (integral values ex – 23,4,100 etc) 
2.	float data type: We can use float data type to represent floating point values. (decimal values ex – 23.7, 45.45 etc)
3.	complex data type: Complex number is represented by complex class. It is specified as (real part) + (imaginary part)j. ex – 9+29j

4.	What is an expression made up of? What do all expressions do?

   Ans. An expression is a combination of values, variables, operators, and calls to functions. Expressions need to be evaluated. If we ask Python to print an expression, the interpreter evaluates the expression and displays the result.

In [4]:
60*3+20

200

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans :An expression is a combination of values, variables, and operators.When we type an expression at the prompt, the interpreter evaluates it, which means that it finds the value of the expression.

eg: 4*5+20-40 is an example of a expression.

A statement is a unit of code that has an effect, like creating a variable or displaying a value.When we type a statement, the interpreter executes it, which means that it does whatever the statement says. In general, statements don’t have values.

eg: variable declaration and assignment are statements because they do not return a value

In [ ]:
23+43-39 #is an expression.
S = 'i am explaining statement' #is a statement.
Print (S) #is a expression statement.

6.After running the following code, what does the variable bacon contain?
 bacon = 22
 bacon + 1

Ans: The variable bacon is set to 22 .The expression bacon + 1 does not reassign the value in bacon.

In [6]:
bacon=22

In [7]:
bacon

22

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [8]:
'spam'+'spamspam'

'spamspamspam'

In [9]:
'spam'*3

'spamspamspam'

Ans: Both expressions evaluate to the string 'spamspamspam' Where as the first expression follows String Concatentation and the second expression follows String Multiplication

8. Why is eggs a valid variable name while 100 is invalid?

Ans: As per python,Variable names cannot begin with a number. The python rules for naming a variable are :-

Variable name must start with a letter or the underscore character.
Variable name cannot start with a number.
Variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, & _ ).
Variable names are case-sensitive. 
The reserved words(keywords) cannot be used naming the variable.

In [13]:
egg='3D oval shaped'

In [14]:
egg

'3D oval shaped'

In [15]:
100='3D oval shaped'

SyntaxError: cannot assign to literal (1506479909.py, line 1)

9.What three functions can be used to get the integer,floating-point number,or string version of a value?

Ans: The int(),float(),and str() functions will evaluate to the integer,floating-point number,string version of the value passed to them.

In [18]:
a=10.09

In [19]:
int(a)

10

In [20]:
float(a)

10.09

In [21]:
str(a)

'10.09'

10.Why does this expression cause an error? how can you fix it?
'I have eaten ' + 99 + 'burritos.'

Ans: This cause of error is 99. Because 99 is not a string. 99 must be typecasted to a string to fix this error.The correct way is:

Input: 'I have eaten' + str(99) + 'burritos.' or 'I have eaten' + '99' + 'burritos.'

Output: 'I have eaten 99 burritos.'

In [22]:
'I have eaten ' + 99 + 'burritos.'

TypeError: can only concatenate str (not "int") to str

In [24]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'

In [26]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'